@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700&family=Roboto:wght@400;500;700&display=swap");

html {
  line-height: 1.5;
  text-size-adjust: 100%;
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  display: block;
  margin: 0px;
  line-height: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: rgb(226, 232, 240);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: var(--tw-empty);
  --tw-pan-y: var(--tw-empty);
  --tw-pinch-zoom: var(--tw-empty);
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: var(--tw-empty);
  --tw-slashed-zero: var(--tw-empty);
  --tw-numeric-figure: var(--tw-empty);
  --tw-numeric-spacing: var(--tw-empty);
  --tw-numeric-fraction: var(--tw-empty);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(66 153 225 / 0.5);
  --tw-blur: var(--tw-empty);
  --tw-brightness: var(--tw-empty);
  --tw-contrast: var(--tw-empty);
  --tw-grayscale: var(--tw-empty);
  --tw-hue-rotate: var(--tw-empty);
  --tw-invert: var(--tw-empty);
  --tw-saturate: var(--tw-empty);
  --tw-sepia: var(--tw-empty);
  --tw-drop-shadow: var(--tw-empty);
  --tw-backdrop-blur: var(--tw-empty);
  --tw-backdrop-brightness: var(--tw-empty);
  --tw-backdrop-contrast: var(--tw-empty);
  --tw-backdrop-grayscale: var(--tw-empty);
  --tw-backdrop-hue-rotate: var(--tw-empty);
  --tw-backdrop-invert: var(--tw-empty);
  --tw-backdrop-opacity: var(--tw-empty);
  --tw-backdrop-saturate: var(--tw-empty);
  --tw-backdrop-sepia: var(--tw-empty);
}

.body__container {
  min-height: 100vh;
  overflow: hidden;
  padding: 32px;
}

.header__one {
  width: 100%;
  max-width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
  display: block;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
}

ol, ul, menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
  list-style: none;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0px;
  padding: 0px;
}

section {
  display: block;
  transform: none;
}

/*

NAVIGATION BAR

*/

#navigation {
  transform: none;
}

nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.navigation {
  flex: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.blue__text {
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
    display: flex;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  color: #243e63;
  font-weight: bold;
  font-size: 14px;
  margin: 0 24px;
  padding: 0 0 4px;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: rgb(100 21 255);
  text-decoration: underline;
}

.nav__link--blue {
  color: #f7fafc;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 50px;
  transition: all 300ms ease;
}

.nav__link--blue:hover {
  background-color: #5011cc;
  text-decoration: none;
}

.logo__link--container {
  color: #243e63;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom-width: 0px;
  border-color: transparent;
  text-decoration: none;
  margin: 0px 20px;
  padding: 0px 0px 4px;
}

.logo__link--container:hover {
  --tw-border-opacity: 1;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.logo {
  width: 40px;
  margin-right: 12px;
}

/*
HEADER

*/

.header__section {
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header__container {
  position: relative;
  padding: 38px 0px;
}

.header__title {
  color: 1a202c;
  font-size: 44px;
  font-weight: 700px;
  display: block;
  text-align: left;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
}

.header__paragraph {
  width: 100%;
  text-align: left;
  max-width: 500px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: #243e63;
  margin: 32px 0;
}
.two__column {
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
}

.form__container {
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  max-width: 500px;
  text-align: center;
  border-color: rgb(226, 232, 240);
}

input {
  width: 100%;
  border-radius: 50px;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 192px 20px 32px;
  font-weight: 500;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.header__button {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  color: #f7fafc;
  background-color: #6415ff;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  padding: 16px 0px;
  width: 160px;
  border-radius: 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}
.Trusted__customers--section {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  margin-top: 56px;
  max-width: 500px;
  text-transform: uppercase;
  letter-spacing: 1;
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
}

.customers__logos {
  max-width: 500px;
  height: auto;
  padding-right: 128px;
  margin-top: 16px;
  width: 100%;
  opacity: 0.5;
}

.left__column {
  position: relative;
  width: 40vw;
  max-width: none;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}

.right__column {
  width: 100%;
  min-width: 0px;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.background__blob {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -10;
  height: 200px;
  width: 200px;
  --tw-translate-x: -56.67%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.05;
}

/*

FEATURES

*/
.features__section--container {
  position: relative;
}

.section__span--text {
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.features__container {
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: wrap;
}
.features__heading {
  width: 100%;
  color: #243e63;
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1.25;
}
.features__para {
  width: 100%;
  max-width: 600px;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 1.625;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.vertical__spacer {
  margin-top: 36px;
  width: 100%;
}
.column__container {
    width: calc(100% /3);
    max-width: 24rem;
}

.column__card {
  margin-left: 16px;
  margin-right: 16px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  padding: 32px 8px;
}

.image__container {
  flex-shrink: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border-width: 1px;
  padding: 20px;
  text-align: center;
}

.column__logo--img {
  height: 24px;
  width: 24px;
}

.title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.4px;
}

.feature__description {
    font-weight: 500;
    line-height: 2;
    flex-wrap: wrap;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.text__container {
    margin-left: 16px;
    margin-top: 8px;
}

/*

QUALITY WORK

*/

.quality__work--container {
    position: relative;
}

.quality__two--column {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 96px 0px;
}

.quality__left--column {
    margin-right:64px;
    margin-left: 0px;
    margin-top: 0px;
    width: 50%;
    max-width: none;
}

.dotted__square {
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: -10;
    height: 80px;
    width: 80px;
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: 50%;
    fill: currentcolor;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.quality__work--img {
    border-width: 1px;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}

.quality__right--column {
    width: 50vw;
    position: relative;
    flex-shrink: 0;
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}

.quality__contentbutton--column {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: left;
}

.quality__span--text {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.quality__work--heading {
    width: 100%;
    font-size: 44px;
    text-align: left;
    margin-top: 16px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.4px;
}

.quality__work--para {
    font-size: 18px;
    text-align: left;
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.quality__button {
    font-weight: 700;
    font-size: 14px;
    padding: 12px 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 32px;
    cursor: pointer;
    border-radius: 40px;
    display: inline-block;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.quality__button:hover {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 32px;
    --tw-bg-opacity: 1;
    background-color: rgb(80 17 204 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(237 242 247 / var(--tw-text-opacity));
}

/*

STEPS

*/

.steps__left--column {
    width: 50%;
    position: relative;
    flex-shrink: 0;
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}

.steps__image {
    border-radius: 4px;
}

.steps__dotted--square{
    height: 160px;
    width: 160px;
    left: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -10;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0.15;
    --tw-translate-y: 50%;
    fill: currentcolor;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.steps__right--column {
    margin-top: 0px;
    width: 50%;
    margin-left: 64px;
    margin-right: 0px;
    max-width: none;
}

.steps__content--box {
    padding: 32px 0px;
    text-align: left;
}

.steps__heading {
    width: 100%;
    font-size: 48px;
    text-align: left;
    margin-top: 16px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.4px;
}

.steps__section_container {
    margin-top: 48px;
}

.steps__section {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 32px;
    display: flex;
    -webkit-box-align: center;
    text-align: -webkit-match-parent;
}

.steps__number {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(203 213 224 / var(--tw-text-opacity));
}

.steps__text--container {
    margin-top: 0px;
    margin-left: 24px;
    text-align: left;
}

.steps__subheading {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    margin: 0px;
}

.steps__para {
    margin-top: 0px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(113 128 150 / var(--tw-text-opacity));
}
